.mainSlide,
.mainSlide ion-slide {
  width: 100%;
  height: 100%;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 150px;

}

.pick-avatar-seleccionado {
  opacity: 1 !important;
}
.error-message {
  color: var(--ion-color-danger);
}
