.mainSlide,
.mainSlide ion-slide {
  width: 100%;
  height: 100%;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 150px;

}
.error-message {
  color: var(--ion-color-danger);
}
--background{
  color: black;
}
a{
  text-decoration: none;
}