<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!search">
      <ion-menu-button color="primary" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!search"> Movies </ion-title>
    <ion-button (click)="onClick()" slot="end" size="small" color="primary" *ngIf="!search">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
    <ion-searchbar mode="ios" inputmode="text" *ngIf="search" (ionChange)="onSearchChange($event)" animated>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <app-movie *ngFor="let item of movies | filtro:name " [photo]="item.photo" [description]="item.description" [name]="item.name">
  </app-movie>
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="dark" (click)="presentModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>