ion-card{
    border-radius: 20px;
    padding: 0px;
    min-height: 200px;
    max-height: 200px;
}
ion-grid{
    padding: 0px;
    margin: 0px;
}
ion-col{
    padding: 0px;
    margin: 0px;
}
img{
    padding: 0px;
    margin: 0px;
}